.alert {
    margin: 10px 0;
    padding: 10px 5px 5px 5px;
    color: white;
    //backdrop-filter: blur(20px);
    background-color: #ff9500;
    border-radius: 10px;
    text-align: start;
    line-height: 1.2;
}
.alert_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.alert_img_container {
    max-width: 22px;
    margin: 0 5px;
}
.alert_img {
    width: 100%;
}
.alert_body {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
}