.status {
    background: linear-gradient(0deg, rgba(0, 0, 150, 0.3), rgba(0, 0, 0, 0.3)), url("/cloud-bg.png");
    background-size: cover;
}
.icon_location {
    width: 20px;
}
.icon_status {
    width: 100px;
}
.status_location * {
    display: inline;
}
.status_location {
    margin: 10px 0;
}
.status_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.status_wrapper * {
    margin: 5px;
}
.status_temp * {
    display: inline;
}
.status_location {
    font-size: 24px;
    font-weight: 400;
}
.status_temp{
    font-weight: 700;
    font-size: 52px;    
}
.status_info {
    font-weight: 300;
}
.status_list {
    display: flex;
    justify-content: space-between;
}
.status_list_box {
    margin: 5px;
    line-height: 1.5;
}
.status_list_name {
    font-size: 16px;
    font-weight: 300;
}
.status_list_value {
    font-weight: 700;
    font-size: 16px;
}