@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');



html, body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #21D4FD;
    background-image: url('https://images.pexels.com/photos/3227984/pexels-photo-3227984.jpeg');
}

